--extra-index-url https://opensource.tbank.ru/api/v4/projects/238/packages/pypi/simple

# Основной веб-фреймворк
Django==6.0.4

# Официальный SDK Т-Банк Инвестиции
t-tech-investments

# Чтение переменных окружения из .env файла
python-dotenv

# Корневые сертификаты для безопасных соединений
certifi

# Работа с базой данных PostgreSQL (для production)
psycopg2-binary

# Асинхронные HTTP-запросы (добавлено для отправки уведомлений в Telegram)
aiohttp

# ---------------------------------------------------------
# Дополнительные библиотеки (раскомментируйте при необходимости):
# ---------------------------------------------------------
# Для парсинга HTML (агрегатор новостей)
# beautifulsoup4